.gradient-text {
    background: linear-gradient(45deg, #728cff, #5cd06d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.3; 
  }

  ::selection {
    background-color: #08090f; /* Red color as an example */
    color: #90a4fa; /* Text color for the selected text */
  }

  body {
    background-color:#f8f8fb;
  }