.typing-text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s steps(20, end), blink-caret 0.75s step-end infinite;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    from,
    to {
      border-right-color: transparent;
    }
    50% {
      border-right-color: #fff;
    }
  }